/*======================================
  All and General Styles for Index
======================================*/
h4.featured-tours-header,
h4.destinations-header {
    font-weight: 700;
    color: #E30303;
}
h6.view-all-destinations {
    text-align: right;
    color: #096D67;
}
h6.view-all-destinations > i.fas.fa-eye {
    color: #096D67;
}
div.featuredTours-border,
div.destinations-border {
    height: 3px;
    background-color: #8DC63F;
    position: relative;
    bottom: .8em;
    width: 100%;
}
p.subtext {
    line-height: 1.4em;
}

/*======================================
  Featured Tours 
======================================*/
div.featured-tours {
    margin: auto;
}

/* -- Left -- */
img.featured-img{
    width: 100%;
}
div.featured-card-text{
    border: #FFF;
    box-shadow: 0 0 10px lightgrey;
    font-size: 14px;
    padding: 5px 7px;
    line-height: 1.4em;
    margin: .2em 0 2em;
}
p.feature-text-1,
p.feature-text-2,
p.feature-text-3 {
    margin-bottom: .35rem;
}

/*======================================
  Guaranteed Dates & Hot Departure Dates
======================================*/

.all-tabs {
    overflow: hidden;
    border: none;
    background-color: #FFF;
}
.all-tabs button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
button.guaranteed-tab {
    background-color: #8DC63F;
    color: #fff;
    border-radius: 10px 20px 0 0;
    width: 50%;
    height: 3rem;
}
button.hot-tab {
    background-color: #096D67;
    color: #fff;
    border-radius: 10px 20px 0 0;
    width: 50%;
    height: 3rem;
}
.all-tabs button:hover {
}
.all-tabs button.active {
}
.tabcontents {
    padding: 6px 12px;
    border-top: none;
}
#hot{
    display: none;
    border: 3px solid #096D67
}
#guaranteed {
    border: 3px solid #8DC63F;
}

/* --Carousel Guaranteed Departure Dates */
div#carouselFeaturedTabIndicators > ol {
    position: relative;
    top: 50rem;
}
div#carouselFeaturedTabIndicators.carousel.slide > ol.carousel-indicators > li {
    background-color: #FFF;
    border: .5px solid #EDAE49;
    width: 7px;
    height: 7px;
    border-radius: 100%;
}
div#carouselFeaturedTabIndicators.carousel.slide > ol.carousel-indicators > li.active {
    background-color: #EDAE49;
    border: .5px solid #EDAE49;
}
img.guaranteed-img {
    margin-bottom: 1em;
}
div.guaranteed-card-text {
    margin-bottom: 2.3em;
}
h5.guaranteed-header {
    font-weight: 600;
}
td.dates {
    padding-right: 2em;
}

/*======================================
  Destinations
======================================*/
section#destinations > p.subtext {
    padding-left: 15px;
}
div.destinations-border {
    left: 1em;
}

/* -- Masonry Grid -- */
div.masonry-grid > div {
    padding: 0;
}
.container-wrapper {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-wrapper:hover .image {
    opacity: 0.3;
}

.container-wrapper:hover .middle {
    opacity: 1;
    cursor: pointer;
}

.text {
  color: #000;
  font-size: 10vw;
}
.text > a {
    color: #000;
}
.text > img.opacity-image {
    width: 23rem;
    position: relative;
    bottom: 0;
}
h1.opacity-text {
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 2px 1px #000;
    position: relative;
    top: 5rem;
    font-size: 24px;
}