/*=============================================================
    Navigation
===============================================================*/
/* -- Top Navigation -- */
nav#top-navigation.navbar.navbar-expand-lg > div#topNav.collapse.navbar-collapse > ul.navbar-nav.ml-auto {
    border-bottom: 5px solid #8DC63F;
}
/* -- Top Navigation Links-- */
nav#top-navigation.navbar.navbar-expand-lg > div#topNav.collapse.navbar-collapse > ul.navbar-nav > li.nav-item > a.nav-link{
    color: #000;
    font-size: 1.2vw;
    padding-left: 3em;
}
nav#top-navigation.navbar.navbar-expand-lg > div#topNav.collapse.navbar-collapse > ul.navbar-nav > li.nav-item.active > a.nav-link {
    color: #096D67;
}

/* -- Main Menu -- */
/* -- CH Logo -- */
section#main-menu > div.row.container-fluid > div.ch-logo-menu > img {
    width: 90%;
}
/* -- Banner-- */
section#main-menu > div.row.container-fluid > div.banners-menu {
    padding-top: 0.5em;
}
/* -- Banner Ellipses-- */
section#main-menu > div.row.container-fluid > div.banners-menu > div#carouselBannerMenuIndicators.carousel.slide > ol.carousel-indicators > li {
    background-color: #fff;
    border: .5px solid #EDAE49;
    width: 7px;
    height: 7px;
    border-radius: 100%;
}
section#main-menu > div.row.container-fluid > div.banners-menu > div#carouselBannerMenuIndicators.carousel.slide > ol.carousel-indicators > li.active {
    background-color: #EDAE49;
    border: .5px solid #EDAE49;
}
section#main-menu > div.row.container-fluid > div.banners-menu > div#carouselBannerMenuIndicators.carousel.slide > ol.carousel-indicators {
    position: relative;
    top: 5em;
}
/* -- Tour Search Input-- */
section#main-menu > div.row.container-fluid > div.search {
    text-align: center;
}
section#main-menu > div.row.container-fluid > div.search > input#searchTours {
    width: 80%;
    line-height: 1vh;
    padding: 3px 5px;
    margin: 2em 0 0 0;
    border-radius: 3px 0 0 3px;
    border: 1px solid #8DC63F;
    height: 6vh;
}
section#main-menu > div.row.container-fluid > div.search > button {
    background-color: #8DC63F;
    border: none;
    border-radius: 0 3px 3px 0;
    margin: 0;
    position: relative;
    right: 4.5px;
    top: 0em;
    height: 6vh;
}
/* -- Tour Links-- */
section#main-menu > div.row.container-fluid > div.search > p.search-links {
    position: relative;
    right: 2.9em;
}
section#main-menu > div.row.container-fluid > div.search > p.search-links > a {
    color: #000;
    font-size: .9em;
}
/* -- Translator Links-- */
section#main-menu > div.row.container-fluid > div.translator {
    text-align: center;
    margin: auto;
}
section#main-menu > div.row.container-fluid > div.translator > p.language-links > a {
    font-size: .9em;
    color: #000;
}
/* -- Lower Navigation -- */
nav#lower-navigation {
    padding-bottom: 0;
}
nav#lower-navigation > div#bottomNav {
    background-color: #E30303;
}
nav#lower-navigation > div#bottomNav > ul {
    margin: auto;
}
nav#lower-navigation > div#bottomNav > ul > li > a {
    color: #FFF;
    padding: .5rem 2rem;
}
nav#lower-navigation > div#bottomNav > ul > li > a.destinations{
    position: relative;
    right: 13em;
}
