/*=============================================================
    General Styling
    background-color: #8DC63F; Green
    background-color: #E30303; Red
===============================================================*/
* {
    font-family: Arial;
}


